
*,::before,::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.landing{
     margin-top: 4.5em;
     height: 90vh;
     background-image: url(./assets/landing-background.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

